.card {
    position: relative;
    width: 100%;
    max-width: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.cardImage {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.card:hover .cardImage {
    transform: scale(1.1);
}

.cardDescription {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    font-size: 12px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.card:hover .cardDescription {
    opacity: 1;
}

.card h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.card p {
    font-size: 0.8rem;
    line-height: 1.4;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tvBadge {
    background-color: #f00;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: 5px;
}

.flag {
    margin-top: 10px;
    max-width: 30px;
    max-height: 15px;
    display: inline-block;
    align-self: center;
    border-radius: 50%;
    margin-bottom: 20px;
}

.cardStar {
    display: flex;
    gap: 4px;
    color: #f39c12;
    margin-top: 8px;
    align-self: center;
}

.cardStar svg {
    font-size: 1.5em;
}

.cardDescription p {
    font-size: 0.9rem;
    color: #ccc;
}