/* Main container */
.mainContainer {
    background-color: #111;
    color: white;
    padding: 80px;
}

/* Titolo principale */
.pageTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.category {
    margin-bottom: 30px;
}

.categoryTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 20px;
    color: #fff;
    display: inline-block;
    text-align: left;
}