.popularSection {
    margin-bottom: 30px;
}

.gridSection {
    margin: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* Griglia responsiva */
    gap: 15px;
}

.gridSection h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.slick-slide {
    display: flex;
    justify-content: center;
}

.slick-dots {
    bottom: 10px;
    /* Sposta i punti in basso */
}

.slick-prev,
.slick-next {
    z-index: 1;
    /* Pulisce la visibilità dei controlli */
}