.seriesListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.seriesCardWrapper {
    max-width: 250px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}

.seriesCardWrapper:hover {
    transform: scale(1.05);
}

.seriesCardImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.seriesCardDescription {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.seriesCardWrapper:hover .seriesCardDescription {
    opacity: 1;
}

.seriesCardDescription h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.seriesCardDescription p {
    font-size: 0.9em;
    margin: 10px 0 0;
}